<h1>Hello Raju kumar</h1>
<h2><app-login></app-login></h2>
<h2><app-user-list></app-user-list></h2>
<app-sign-in></app-sign-in>

<input type="text" #box (keyup)="printConsoleWithData(box.value)" placeholder="enter console data"/>
<br/><br/>
<input type="text" #box1 (blur)="printConsoleOnBlur(box1.value)" placeholder="enter console data"/>

<br/> 
<input type="text" #box2 (keyup)="printValueOnPAge(box2.value)" placeholder="enter name"/>
<br/>
<p >User name Entered : {{data}}</p>

<br/>
<h2 class="heading">Hii Globle Style</h2>

<br/>
<br/>
<h2 (mouseover)="mouseOverCalled()">MouseOver Example</h2>
<br/>
<h2 (mouseleave)="mouseLeaveCalled()">MouseLeave Example</h2>


<!-- if else statement in Angular -->
<br/>
<h2 *ngIf = "show; then ifBlock else elseBlock"></h2>

<ng-template #ifBlock> 
   <h2>If Block </h2>
</ng-template>
<ng-template #elseBlock> 
    <h2>Else Block </h2>
 </ng-template>
 
 <!-- multiple if condition  -->
 <br/>
 <ng-template [ngIf]="color === 'red' "> 
    <h2 style="color: red;">Red Color</h2>
 </ng-template>

 <ng-template [ngIf]="color === 'green' "> 
    <h2 style="color: green;">Green Color</h2>
 </ng-template>

 <ng-template [ngIf]="color === 'blue' "> 
    <h2 style="color: blue;">Blue Color</h2>
 </ng-template>

 <br/>

 <!-- Switch case -->
 <div [ngSwitch]="color1">
    <h2 *ngSwitchCase="'red'" style="color: red;">Red Color</h2>
    <h2 *ngSwitchCase="'green'" style="color: green;">Green Color</h2>
    <h2 *ngSwitchCase="'blue'" style="color: blue;">blue Color</h2>
    <h2 *ngSwitchCase="'yellow'" style="color: yellow;">yellow Color</h2>
    <h2 *ngSwitchDefault >Default Color</h2>
 </div>

 <!-- For Loop -->
<h2 *ngFor = "let item of users">name is : {{item}}</h2>
<h2 *ngFor = "let items of usersDetail">{{items.name}}  {{items.Dob}} {{items.Address}} {{items.mob}}</h2>

<!-- Style binding -->
<br/>
<h2 [style.color]="styleColor" [style.backgroundColor]="styleBackColor">Style Binding </h2>
<br/>
<button (click)="changeStyleColor()">change color</button>


<button (click)="getName()">Click me</button>
<button (click)="getFullName('Raju kumar')">get first name</button>
<button (click)="printConsoleData()">Consol Data</button>